<ion-view title="Page" id="page1">
  <ion-content padding="true" class="has-header">
    <button ng-click="vibrate()" id="page-button1" class="button button-positive button-block">Tap me!</button>
    <button ng-click="toast()" id="page-button2" class="button button-positive button-block">Tap me!</button>
    <button ng-click="torch()" id="page-button3" class="button button-positive button-block">Tap me!</button>
    <button ng-click="soundalert()" id="page-button4" class="button button-positive button-block">Tap me!</button>
  </ion-content>
</ion-view>